<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- COURSES LIST -->
        <!-- Directive ngFor-->
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
          >
            <h3 matLine>{{ course.title }}</h3>
            <p matLine>
              {{ course.description }}
            </p>
          </mat-list-item>
        </mat-list>
        <!-- Directive ngFor-->
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="currentCourse.id; else elseBlock">
            {{ currentCourse.title | titlecase }}
          </span>
          <ng-template #elseBlock> Select Course </ng-template>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <span *ngIf="currentCourse">
          {{ currentCourse | json }}
        </span> -->
        <!-- COURSE FORM -->
        <form *ngIf="currentCourse.id" #form="ngForm">
          <mat-form-field>
            <input
              matInput
              placeholder="title"
              [(ngModel)]="currentCourse.title"
            />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <!-- COURSE ACTIONS -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
